.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.highlight-border-enter-active {
  transition: transform 0.1s linear;
}

.highlight-border-enter,
.highlight-border-leave-to {
  transform: scale(0.9, 0.9);
}
